<nav class="sidebar">
  <ul>
    <li><a href="#" onclick="showPdf('ChatGPT4o-tareas')">ChatGPT4o + Reasoning </a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4o-grafos')">ChatGPT4o + Reasoning Graphs</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4o-tareas')">DeepSeek V3</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4o-tareas')">DeepSeek V3 Graphs</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4o-tareas')">Claude 4 Sonnet</a></li>
    <li><a href="#" onclick="showPdf('ChatGPT4o-tareas')">Claude 4 Sonnet Graphs</a></li>
  </ul>
</nav>
